<%- include('partials/header'); -%> 

    <div class="container" id="blogs">
        <h1> About </h1>
        <small >This is a wise old owl story for kids. Once upon a time, a group o
            f owls came to settle in a forest. This forest had many beautiful lush green t
            rees. All the owls in the group were free to choose whichever tree they liked. So, the 
            young owls greedily chose all the green trees. There they built their new homes.

            However, there was an old owl also amongst them. He was forced to 
            build his nest in an old, dried up oak tree. Without much of a choice,
             the old owl settled there. Also, read The Owl And The Grasshopper.</small>
      
    </div>
   

<%- include('partials/footer'); -%> 