<%- include('partials/header'); -%> 

    <div class="container" id="blogs">
        <h1><%= title %>  </h1>
        <small > <%= postbody %> </small>
      
    </div>
   

<%- include('partials/footer'); -%> 